<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QL5Q2YK66B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QL5Q2YK66B');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2838251107855362"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arena Drible</title>
    <link rel="icon" href="{{ site.baseurl }}/assets/img/arenadrible.png" sizes="32x32" type="image/png">
    <!--
      <link href="./assets/css/full.min.css" rel="stylesheet" type="text/css" />
      <script src="./assets/js/tailwind-3.4.17.js"></script>
      <link rel="stylesheet" href="./assets/css/all.min.css">
      -->
      <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/markdown.css">

  </head>
  <body class="bg-gray-50">

