<!-- Cabeçalho -->
<header class="header-gradient text-white shadow-lg">
  <div class="container mx-auto px-4 py-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="flex items-center mb-6 md:mb-0">
        <!-- Imagem separada -->
        <a href="{{ site.baseurl }}/" class="mr-4">
          <img style="width: 80px;" src="{{ site.baseurl }}/assets/img/arenadrible.png" alt="Bola de futebol">
          <!--<img style="width: 80px;" src="https://www.pngarts.com/files/2/Soccer-Ball-PNG-Photo.png" alt="Bola de futebol">-->
        </a>

        <!-- Título e descrição -->
        <div>
          <h1 class="text-3xl md:text-4xl font-bold mb-2">
            <a href="{{ site.baseurl }}/">Arena Drible</a>
          </h1>
        </div>
      </div>

      <div class="navbar-start">
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li><a href="{{ site.baseurl }}">Início</a></li>
            <li><a href="#news">Notícias</a></li>
            <li><a href="#leagues">Campeonatos</a></li>
            <li><a href="#teams">Times</a></li>
            <li><a href="#transfers">Transferências</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</header>

<!-- Informativo -->
<div class="container mx-auto px-4 py-6 informativo">
  <div class="alert alert-info shadow-lg flex justify-center items-center">
    <div class="flex items-center justify-between w-full max-w-3xl">
      <div class="flex items-center space-x-4">
        <i class="fas fa-info-circle text-2xl"></i>
        <div>
          <h3 class="font-bold">Ao vivo agora!</h3>
          <div class="text-xs">Bahia vs Real Madri - Final da Copa do Rei</div>
        </div>
      </div>
      <div>
        <button class="btn btn-sm btn-outline">Acompanhar</button>
      </div>
    </div>
  </div>
</div>

